@font-face {
    font-family: 'Lovepen';
    src: url("Lovepen_regular.otf") format('woff');
    font-weight: 200;
    /* font-style: normal; */
}

@font-face {
    font-family: 'Fetridge';
    src: url('./Fetridge.otf') format('woff2');
    font-weight: 600;
    font-style: normal;
}
html {
    height: 100%;
    width: auto;
}

main {
    height: 100%;
    width: auto;
    display: flex;     
}

img {
    max-width: 100%; 
    max-height: 100%;
}

header {
    background-color: rgb(255, 255, 255);
    height: 25vh; 
    display: flex; 
    justify-content: center;
}

.header > img {
    max-width: 100%;
    max-height: 100%;
}

.main-component {
    width: 50%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: font-size 300ms;
    
}

.main-component-text {
    font-family: "Fetridge";
    font-size: 20vh;
}

.main-component:hover{
    transition-timing-function: ease-in-out;
    font-size: 22vh;
}


div.main-component {
    display: flex;
    flex-direction: column;
    text-shadow: 5px 5px 1px black;
    color: white;
}

#design-text {
    position: absolute;
    left: 25%;
}

#design-text > div{
    position: relative; 
    left: -25%;
}

#about-us-text{
    position: absolute;
    right: 25%;
}

#about-us-text > div{
    position: relative; 
    right: -25%;
}