@font-face {
    font-family: 'Lovepen';
    src: url("Lovepen_regular.otf") format('woff');
    font-weight: 200;
    /* font-style: normal; */
}

@font-face {
    font-family: 'Fetridge';
    src: url('./Fetridge.otf') format('woff');
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    height: 100%;
    width: auto;
}

main {
    display: flex;     
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%; 
    max-height: 100%;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 250px; 
    display: flex; 
    justify-content: center;
}

.main-component {
    width: 50%;
    height: auto;
    object-fit:fill;

    display: flex;
    justify-content: center;
    align-items: center;


    font-family: "Fetridge";
    font-size: 50px;
    letter-spacing: 0.3em;

    transition: font-size 300ms;
    
}

.main-component:hover{
    transition-timing-function: ease-in-out;
    font-size: 60px;
}

div.main-component {
    display: flex;
    flex-direction: column;
    text-shadow: 5px 5px 1px black;
    color: white;
}

#design-text {
    position: absolute;
    left: 25%;
}

#design-text > div{
    position: relative; 
    left: -50%;
}

#about-us-text{
    position: absolute;
    right: 25%;
}

#about-us-text > div{
    position: relative; 
    right: -50%;
}