@font-face {
    font-family: 'Lovepen';
    src: url("Lovepen_regular.otf") format('woff');
    font-weight: 200;
    /* font-style: normal; */
}

@font-face {
    font-family: 'Fetridge';
    src: url('./Fetridge.otf') format('woff');
    font-weight: 200;
    font-style: normal;
}



img {
    max-width: 100%; 
    max-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: auto;
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(138, 160, 138);
}

main {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    display: flex;     
    
    object-fit: fill;
}

.main-component {
    width: 50%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Fetridge";
    font-size: 4vw;
    letter-spacing: 1vw;

    transition: font-size 300ms, letter-spacing 300ms;
    
}
/* 
.main-component > img{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto
} */

.main-component:hover{
    transition-timing-function: ease-in-out;
    letter-spacing: 1.5vw;
    font-size: 4.5vw;
}

div.main-component {
    display: flex;
    flex-direction: column;
    text-shadow: 5px 5px 1px black;
    color: white;
}

#design-text {
    position: absolute;
    left: 25%;
}

#design-text > div{
    position: relative; 
    left: -50%;
}

#about-us-text{
    position: absolute;
    right: 25%;
}

#about-us-text > div{
    position: relative; 
    right: -50%;
}